{% load static %}
<head>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
</head>
<body>
<div id="main">
    <div class="text-center" style="border-radius: 15px;height: 500px;">
        
        <p class="text-center" style="font-size: 20px;">{{title}}</p>
        <form method="POST" action=".">
            {% csrf_token %}
            <input type="hidden" value="{{action}}" name="action">

            {% for field in form.visible_fields %}
            <div class="form-group">
                {{field}}
            </div>
            {% endfor %}
            <div class="mb-3">
                <button class="btn btn-primary" data-bss-hover-animate="bounce" id="btn-sesion" type="submit">Aceptar</button>
            </div>
        </form>
        <script>
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{error}}\n';  
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{error}}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
            /*$('form').on('submit', function (e) {
                e.preventDefault();
                var parameters = $(this).serializeArray();
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: parameters,
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                    if(!data.hasOwnProperty('error')) {
                        location.href = '{{ list_url }}';
                        return false;
                    }
                    messaje_error(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            });*/
        </script>
        
    </div>
</div>
</body>