{% load static %}
<head>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'lib/jquery-confirm.js' %}"></script>
</head>
<body>
<div id="main">
    <div class="text-center" style="border-radius: 15px;height: 500px;">
        
        <p class="text-center" style="font-size: 20px;">{{title}}</p>
        <form method="POST" action=".">
            {% csrf_token %}
            <input type="hidden" value="{{action}}" name="action">

            {% for field in form.visible_fields %}
            <div class="form-group">
                {{field}}
            </div>
            {% endfor %}
            <div class="mb-3">
                <button class="btn btn-primary" data-bss-hover-animate="bounce" id="btn-sesion" type="submit">Aceptar</button>
            </div>
        </form>
        <script>
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{error}}\n';  
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{error}}\n';
                {% endfor %}
                messaje_error(errors);
            {% endif %}
        </script>
        
    </div>
</div>
</body>