{% extends 'base/body.html' %}

{% block content %}
<div class="row justify-content-center" style="padding-top: 40px;padding-right: 20px;padding-bottom: 20px;">
    <div class="col-xl-10 col-xxl-9">
        <div class="card shadow" style="background: rgb(255, 255, 255);border-radius: 10px;">
            <div class="card-body">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Origen/Destino / Tipo de Servicio</th>
                                <th>Importe</th>
                                <th>Fecha</th>
                                <th>Verificado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in historial %}
                            <tr
                                class="{% if item.model_name == 'Transfer' %}transfer-row{% else %}service-pay-row{% endif %}">
                                <td>{% if item.model_name == 'Transfer' %}Transferencia{% else %}Pago de servicio{%
                                    endif %}</td>
                                <td>{% if item.model_name == 'Transfer' %}{{ item.origin_card }}/{{ item.dest_card }}{%
                                    else %}{{ item.service_type }}{% endif %}</td>
                                <td>{{ item.import_transfer or item.import_service }}</td>
                                <td>{{ item.date }}</td>
                                <td>{% if item.checked %}Sí{% else %}No{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

{% endblock %}