{% extends 'base/body.html' %}

{% block content %}
<div class="row justify-content-center" style="padding-top: 40px;padding-right: 20px;padding-bottom: 20px;">
    <div class="col-xl-10 col-xxl-9">
        <div class="card shadow" style="background: rgb(255, 255, 255);border-radius: 10px;">
            <div class="card-body">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Operación</th>
                                <th>Importe</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in historial %}
                            <tr>
                                {% if item.model_name == 'transfer' %}
                                <td>(icono) {{item.origin_card}} / {{item.dest_card}}</td>
                                <td>{{item.import_transfer}}</td>
                                <td>{{item.date}}</td>

                                {% else %}

                                <td>(icono) {{item.service_type}}</td>
                                <td>{{item.import_service}}</td>
                                <td>{{item.date}}</td>

                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

{% endblock %}