{% extends 'base/body.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row gutters">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="card h-100" style="background: rgba(255,255,255,0);">
                <div class="card-body" style="color: rgb(255,255,255);background: rgba(255,255,255,0);">
                    <div class="account-settings">
                        <div class="text-center d-flex flex-column align-items-center"><img class="rounded-circle img-fluid" src="{% static 'img/puercoregisro.jpg' %} " alt="Admin" width="297" height="184" style="border-radius: 50PX;" loading="auto">
                            <div class="mt-3">
                                <h4 style="color: rgb(255,255,255);">John Doe</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" style="color: rgb(255,255,255);">
            <div class="card h-100" style="background: rgba(255,255,255,0);">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h2 class="mb-2" style="color: rgb(255,255,255);">Detalles Personales</h2>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="fullName">Nombre Usuario</label><input type="text" class="form-control" id="fullName" placeholder="Introduzca su nombre de usuario">
                                <p id="usernameValidation" style="display: none;color: red;">El nombre de usuario no cumple con los requisitos (máximo 8 caracteres y sin caracteres especiales).</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group"><label class="form-label" for="phone">Telefono</label><input type="text" class="form-control" id="phone" placeholder="Introduzca su numero de Telefono">
                                <p id="phoneValidation" style="display: none;color: red;">El número de teléfono no es válido para Cuba.</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row gutters">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 offset-9">
                            <div class="text-right"><a href="profile.html"><button class="btn btn-secondary" type="button" id="submit" name="submit">Cancelar </button></a><button class="btn btn-primary" type="button" id="submit" name="submit">Aceptar</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 350px;position: static;"></div>
</div>
{% endblock  %}