<footer style="background: rgba(87,88,88,0);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"></li>
                </ul>
                <p style="color: rgb(255,255,255);text-align: center;margin-bottom: 100px;">
                    <br>
                    <span style="color: rgb(108, 117, 125);">@ Xetid 2023.Todos los derechos reservados.</span>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</footer>