{% load static %}
<!--LOS LINKS DEL CSS-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>enzona</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'fonts/font1.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font2.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-icons.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/registrar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Simple-Slider-swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylePage.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbarMODELO.css' %}">
    <link rel="stylesheet" href="{% static 'css/Principal.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Account-setting-or-edit-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/Profile-with-data-and-skills.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/poppinsfont.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/contactenos.css' %} ">

    <!--LOS LINKS DEL JS-->
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/aos.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/Simple-Slider-swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/Simple-Slider.js' %}"></script>
    <script src="{% static 'js/crud_tarjet.js' %}"></script>
    <script src="{% static 'js/crud%20user.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %} "></script>
    <script src="{% static 'js/contactenos.js' %} "></script>
    <script src="{% static 'js/servicios.js' %}"></script>
    <script src="{% static 'js/cerrar_sesion.js' %}"></script>

</head>