{% load static %}
<header>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'system:main' %}" style="font-size: 30px;"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: url(&quot;{% static 'img/enzona%20-%20copia.jpg' %}&quot;) center / cover no-repeat;border-style: none;border-radius: 90px;transform: perspective(0px) scale(1.88);"></span><span style="color: #ffffff;margin-left: 10px;">Enzona</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="{% url 'system:terms_conditions' %}" style="font-size: 20px;color: #ffffff;">Términos y condiciones</a></li>
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="{% url 'system:contact' %}" style="font-size: 20px;color: #ffffff;">Contáctenos</a></li>
                    {% if user.is_authenticated %}
                        <div class="btn-group"  >
                            <button type="button" class="btn btn-primary"data-bss-hover-animate="pulse">Opciones </button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'users:segurity' %}">Seguridad</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'system:service_list' %}">Pago de Servicios</a></li>
                            <li><a class="dropdown-item" href="{% url 'system:history' %}">Historial</a></li>
                            <li><a class="dropdown-item" href="{% url 'system:transfer_list' %}">Transferencias</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'system:destinatary_list' %}">Mis Destinatarios</a></li>
                            <li><a class="dropdown-item" href="{% url 'system:card_list' %}">Mis tarjetas</a></li>
                            </ul>
                        </div>
                        <a class="btn btn-primary ms-md-2" role="button" href="/logout" style="font-size: 20px;">Cerrar Sesión</a>
                    {% else %}
                        <a class="btn btn-primary ms-md-2" role="button" href="/login" style="font-size: 20px;">Iniciar Sesión</a>
                        <a class="btn btn-primary ms-md-2" role="button" href="/register" style="font-size: 20px;">Registrarse</a>
                    {% endif %}
                    
                    
                </ul>
            </div>
        </div>
    </nav>

</header>
