{% extends 'base/body.html' %}

{% block content %}
<div class="row justify-content-center" style="padding-top: 40px;padding-right: 20px;padding-bottom: 20px;">
    <div class="col-xl-10 col-xxl-9">
        <div class="card shadow" style="background: rgb(255, 255, 255);border-radius: 10px;">
            <div class="card-header d-flex justify-content-center align-items-center flex-wrap justify-content-sm-between gap-3">
                <h5 class="display-6 text-nowrap text-capitalize mb-0">{{title_list}}</h5>
                <div><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> Nueva Tarjeta </button>
                    <div class="modal fade" role="dialog" tabindex="-1" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="fs-5 modal-title" id="exampleModalLabel">{{title}}</h1>
                                    <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{% url 'system:card_create' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="{{action}}">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <label class="col-form-label form-label" for="card_number">Numero:</label>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input class="form-control form-control" type="text" id="numero" name="card_number">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <label class="col-form-label form-label" for="pin">Pin:</label>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input class="form-control form-control" id="fecha" type="number" name="pin">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-success" id="Guardar" type="submit">Aceptar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>No.List</th>
                                <th>Numero</th>
                                <th>Moneda</th>
                                <th>Banco</th>
                                <th>Saldo</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for card in object_list %}
                                
                                    
                                        <tr>
                                            <td class="text-truncate" style="max-width: 200px;">{{card.id}}</td>
                                            <td class="text-truncate" style="max-width: 200px;">{{card.card_number}}</td>
                                            <td>{{card.currency_type}}</td>
                                            <td>{{card.bank_type}}</td>
                                            <td>{{card.balance}}</td>
                                            <td class="text-center">
                                                
                                                <button class="btn btn-danger" type="button">
                                                    <a role="button" href="{% url 'system:card_delete' card.id %}">
                                                        <i class="material-icons">delete</i>
                                                    </a>
                                                </button>
                                                
                                            </td>
                                        </tr>
                                   
                                
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
<div style="height: 350px;position: static;"></div>

{% endblock  %}
