{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<head>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
</head>
<div id="main">
    
    <div class="text-center" data-aos="fade-down" id="info" style="border-radius: 15px;height: 500px;"><img id="ventaspro-logo" src="{% static 'assets/img/enzona%20-%20copia.jpg' %}" width="64" height="63" style="border-radius: 90px;">
        <h3 class="text-center">{{ title }}</h3>
        <p class="text-center" style="font-size: 20px;">Ingrese usuario y contraseña</p>
        <form method="POST" class="text-start" id="form-login">
            {% csrf_token %}
            <div data-aos="fade-right" class="mb-3">
                <label class="form-label" for="username" style="font-size: 20px;"></label>
                <input class="form-control" type="text" name="username" placeholder="Usuario" style="background: rgba(255,255,255,0.79);">
            </div>

            <div class="mb-3">
                <label class="form-label" data-aos="fade-right" for="password" style="font-size: 20px;"></label>
                <input class="form-control" type="password" name="password" placeholder="Contraseña" style="background: rgba(255,255,255,0.79);">
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-primary" id="btn-sesion" type="submit" style="--bs-primary: #256db4;--bs-primary-rgb: 37,109,180;background: #256db4;font-size: 20px;">Iniciar Sesión</button>
            </div>
        </form>
        <div style="margin-top: 10px;"><a href="/signup" style="color: rgb(255,255,255);font-size: 15px;">Registrar ahora</a></div>
    </div>
    <script>
        {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{error}}\n';  
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{error}}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
    </script>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/aos.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="assets/js/Simple-Slider-swiper-bundle.min.js"></script>
<script src="assets/js/Simple-Slider.js"></script>

{% endblock  %}